header{
    /* 下の余白を20pxにします。 */
    margin: 20px auto;
    /* 背景色を「 rgb(244, 79, 79)」にします。  */
    background-color: rgb(244, 79, 79);
    /* 中の要素が中央揃えになるようにします。 */
    vertical-align: center;
}
    
h1{
    /* h1、p、body要素の上下左右余白（margin）を0にしてください。 */
    margin:0;
    /* h1要素内のスタイルを以下のように設定します。
     文字色をrgb(255, 255, 255)にします。*/
    color: rgb(255, 255, 255);
    text-align: center;
}
h2{
    /*h2要素のフォントサイズを25pxにし、下線（太さ3px、点線、色rgb(236, 122, 122)）を引きます。 */
   font-size: 25px; 
   border-bottom: 3px dotted rgb(236, 122, 122); 
}

/* h2要素の前に「●」記号を表示します。色はrgb(239, 111, 139)とします。 */
h2::before{
    content:"●" ;
    color :rgb(239, 111, 139);
}
main{
    /* main要素内の余白を上下左右とも10pxにします。 */
    padding: 10px;
}
#parent{
    /* displayプロパティを使い、id名parentの要素をFlexコンテナにします。 */
    display: flex;
    /* justify-contentプロパティでFlexboxコンテナの子要素（Flexアイテム）「一番左と一番右のアイテムも含め、均等な間隔で配置する」値を設定します。 */
    justify-content: space-around;
}
p{
    /* h1、p、body要素の上下左右余白（margin）を0にしてください。 */
   margin:0; 
   /* 記事内全てのp要素とa要素のフォントサイズを20pxとします。 */
   font-size: 20px;
   
}
a{
     /* 記事内全てのp要素とa要素のフォントサイズを20pxとします。 */
   font-size: 20px;
   /* 文字色はrgb(255, 255, 255)にします。 */
   color: rgb(255, 255, 255);
}
   /* 訪問済みリンクの文字色がrgb(193, 234, 251)に変化するようにします。 */
        a:visited{
            color:rgb(193, 234, 251);
         }
   /* マウスカーソルが乗ると文字色がrgb(245, 178, 168)に変化するようにします。 */
        a:hover{
            color: rgb(245, 178, 168) ;
        }

body{
    /* h1、p、body要素の上下左右余白（margin）を0にしてください。 */
    margin:0;
}


.contents{
    /* class名contentsの要素について、以下のスタイルを設定します。
     /* 幅は親要素の25%にします。プロパティはwidthではなく、flex-basisを使ってください。 */
     flex-basis: 25%;
     /* 線（太さ3px、実線、色rgb(238, 204, 204)）で要素を囲います。 */
     border: 3px solid rgb(238, 204, 204)  ;
     /*  要素内の余白は上下10px、左右15pxにします。*/
     padding: 10px 15px;
     /*  要素外の余白は上下20px、左右0にします。*/
     margin: 20px 0;
     /* 中の要素が中央揃えになるようにします*/ 
     text-align: center;
    
}  
 
p:nth-of-type(2):first-letter{
    font-weight: bold;
    color:rgb(97, 206, 249) ;
}
img{
    margin: 10px 0;
    width: 70%;
}
 footer{
    background-color: rgb(244, 79, 79);
    text-align: center;
   }

/* 画面幅768px以下になったら表示が変わるようにブレークポイントを設定します。 */
@media screen and (max-width:768px){
    /*h2のフォントサイズは30pxとします  */
    h2 {
        font-size: 30px;
    }
    /* pのフォントサイズは25pxとします */
    p {
        font-size: 25px;
    }
    /* Flexboxコンテナであるid名parent内の要素が縦に並ぶようにします。 */
    #parent {
            display: block;
        }
        
    }

